extends layout

block content
  h1 snipstrom -- url shortener
  
  form(name="shorten", method="post", action="/shorten")
    input(type="text", placeholder="url here plz", name="link")
    button(type="submit") submit
    
  h1 shortened urls
  
  ul
    each url, i in urls
      li
        a(href="http://snip.yliseppo.com/id/#{url.id}")= url.url
